* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.my-container{
    margin: 0 auto;
    width: 92%;
}

body{
    background-color: #353544;
    font-family: 'Poppins';
    
}
/* header {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/banniereAcceuil.png);
    background-size: cover;
} */
code {
    /* font-size: 3em; */
    color: white;
}

h1 {
    text-align: center;
    margin-top: 2em;
}

.p-balise {
    color: #E60872;
}


/* --------------------------- NAVBAR -------------------------*/

.my-navbar {
    position: absolute;
    padding: .8em;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    z-index: 9000;
    top: 0;
    position: fixed;
    /* border-bottom: 1px solid #18181f; */
    background-color: #1b1b234f;
}

.my-navbar a {
    color: white;
    text-decoration: none;
}

.titre-navbar {
    font-size: 1.9em;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    margin-left: .2em;
}

.my-navbar .nav-links ul {
    display: flex;
}

.my-navbar .nav-links ul li{
    margin: 0 25px;
    font-size: 1.4em;
}

.my-navbar .nav-links ul li.active a{
    color: #F8C000;
    font-weight: 600;
}

.my-navbar .menu-hamburger {
    display: none;
    position: absolute;
    top: 40px;
    right: 30px;
    width: 45px;
}

/*--------------------------------BANNIERE-------------------*/
.banniere {
    position: relative;
}
.banniere-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;

    width: 100%;
    
}
.banniere hr {
    position: absolute;
    top: 20%;
    color: white;
    height: 7px;
    background-color: white;
    width: 150px;
}
.banniere-titre {
    position: absolute;
    left: 0%;
    top: 10%;
    font-size: 5em;
    text-align: left;
    font-weight: bold;
    color: white;
}

.banniere-sousTitre{
    position: absolute;
    left: 0%;
    top: 50%;
    font-size: 2.5em;
    text-align: left;
    color: white;
}

.banniere .qui-suis-je {
    position: absolute;
    left: 75%;
    top: 25%;
    font-size: 1.2em;
    text-align: left;
    color: white;
}

.banniere .qui-suis-je h3 {
    margin-bottom: .5em;
}

.banniere .dernier-projet h3{
    margin-bottom: .5em;
}

.banniere .qui-suis-je p code{
    font-size: 1.3em;
}

.banniere .dernier-projet p code {
    font-size: 1.3em;
}

.banniere .qui-suis-je p{
    margin-bottom: 1em;
}

.banniere .dernier-projet p {
    margin-bottom: 1em;
}

.banniere .qui-suis-je a {
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.banniere .dernier-projet a{
    color: white;
    text-transform: uppercase;
    text-decoration: underline;
}

.banniere .dernier-projet {
    position: absolute;
    left: 75%;
    top: 48%;
    font-size: 1.2em;
    text-align: left;
    color: white;
}

.banniere .retrouvez-moi {
    position: absolute;
    left: 75%;
    top: 82%;
    font-size: 1.2em;
    text-align: left;
    color: white;
}

.banniere .retrouvez-moi a {
    color: #F8C000;
    font-size: 1.5em;
    margin-right: .3em;
}

.banniere .retrouvez-moi .cv {
    font-weight: bold;
}


/*------------------------PORTFOLIO-----------------*/
.h1-balise {
    font-size: 1.5em;
    color:#E60872;
}

.h1-chevron {
    font-size: 1.5em;
}

.my-row {
    display: flex;
    justify-content: space-around;
}

.my-row-contact {
    display: flex;
    justify-content: space-between;
}

.portfolio h1 {
    color: white;
    font-size: 4em;
    margin: 2em;
}

.portfolio .projet{
    background-color: #23232E;
    border-radius: 25px;
    /* padding: 4em 0 6em 0; */
    margin-bottom: 4em;
}

.portfolio {
    margin-top: 4em;
    position: relative;
}

.portfolio img {
    width: 40em;
    height: auto;
}

.portfolio h3 {
    color: white;
    text-align: center;
    padding-top: .5em;
    margin: .5em;
}

.portfolio p {
    color: white;
    text-align: center;
    padding: .5em 0 1em 0;
}

.portfolio .titre-portfolio {
    margin-top: 4em;
}




/*----------------------PROJETS---------------------*/

.projets {
    margin-top: 20em;
}
.projets img{
    max-width: 100%;
    height: auto;
}

.projet {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/*--------------------MAQUETTE----------------------*/

.maquette {
    margin: 0 auto;
    width: 75%;
    margin-top: 15rem;
}

.maquette h1 {
    color: white;
    font-size: 2.5em;
}
.maquette p {
    color: white;
    font-size: 1.5em;
    text-align: center;
}
.maquette code {
    font-size: 1.4em;
}
.maquette img {
    margin-top: 2em;
}


/*-----------------------CV-------------------------*/

.mon_cv {
    background-color: #23232E;
}

.cv img {
    border-radius: 5em;
}

/*-----------------------QUI-SUIS-JE?---------------*/

.qui-suis-je h1{
    color: white;
    font-size: 4em;
    margin: 2em;
    margin-left: 8.5em;
}

.presentation p{
    color: white;
}

.presentation code {
    font-size: 1.3em;
}

.qsj {
    height: 100vh;
    width: auto;
    background: url(../images/qsj-background.png) center top;
    background-size: cover;
}

.presentation p{
    margin-left: 30em;
}

.my-containerr {
    margin: 0 auto;
    width: 75%;
}


/*----------------------CONTACTEZ-MOI---------------*/

.container-contact {
    margin: 0 auto;
    width: 23%;
}
.carte-visite {
    background-color:#23232E;
    border-radius: 20px;
    padding: 1em .5em 0 1em ;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.carte-visite h2 {
    text-transform: uppercase;
    color:#F8C000;
}

.carte-visite h3 {
    text-transform: uppercase;
}

.contact h1 {
    margin-bottom: 2em;
}

.my-netflix {
    margin-bottom: 2em;
}


/*-----------------------FOOTER----------------------*/

footer {
    background-color: #23232E;
    color: white;
}
footer .btn-smooth {
    color: var(--orange);

}
footer .btn-smooth i {
    color: var(--orange);
    font-size: 2em;
}

footer .retrouvez-moi {
    font-size: 1.2em;
    text-align: center;
    color: white;
    margin: 1em;
    padding-top: 2em;
}

footer .retrouvez-moi a {
    color: #F8C000;
    font-size: 1.5em;
    margin-right: .3em;
}

.presentation {
    text-align: center;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


/*-----------------------MEDIA QUERY----------------*/


@media screen and (max-width: 1650px) {

    .qsj {
        height: 100vh;
        width: auto;
        background:#23232E;
        
    }
    .my-containerr {
        width: 92%;
        margin: 0 auto;
    }

    .presentation p{
        margin-left: 0em;
        padding-bottom: 1em;
    }

    .qui-suis-je h1{
        color: white;
        font-size: 1em;
        margin: 1em;
        margin-left: 0em;
    }
}
@media screen and (max-width: 900px) {
    .my-navbar {
        padding: 0;
    }
    .my-navbar .logo {
        position: absolute;
        top: 40px;
        left: 30px;
    }
    .my-navbar .menu-hamburger {
        display: block;
    }
    .my-navbar .nav-links {
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.105);
        backdrop-filter: blur(50px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .my-navbar .mobile-menu {
        margin-left: 0;
    }

    body .nav-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .my-navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;
    }
    .banniere-image {
        background-position: center;
        max-width: 100%;
        height: auto;
    }

    .banniere-titre {
        position: absolute;
        left: 3%;
        top: 80%;
        font-size: 2.5em;
        text-align: left;
        font-weight: bold;
        color: white;
    }
    
    .banniere-sousTitre{
        position: absolute;
        left: 3%;
        top: 125%;
        font-size: 1em;
        text-align: left;
        color: white;
    }


    
}

@media screen and (max-width: 760px) {
    .banniere-titre {
        position: absolute;
        left: 3%;
        top: 80%;
        font-size: 2em;
        text-align: left;
        font-weight: bold;
        color: white;
    }
    
    .banniere-sousTitre{
        position: absolute;
        left: 3%;
        top: 115%;
        font-size: 1em;
        text-align: left;
        color: white;
        margin-top: 3.2em;
    }
    
}